<header role="banner" class="main-header">
    <div class="container">
        {{ page.header }}
        <div class="header-navigation">
            {{ page.header_navigation }}
        </div>
    </div>
</header>