{% include directory ~'/partials/_header.html.twig' %}
<div class="container">
  <div class="row">
    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="col-md-8">
        <div class="articles">
          {{ page.content }}
        </div>
      </div>{# /.layout-content #}

      {% if page.sidebar %}
        <aside class="col-md-4" role="complementary">
          {{ page.sidebar }}
        </aside>
      {% endif %}
    </main>
  </div>
  <div class="row">
    {% if page.footer %}
      <footer role="contentinfo">
        {{ page.footer }}
      </footer>
    {% endif %}
  </div>
</div>{# /.layout-container #}
