/* =======================================================================
## ++ Susy
========================================================================== */
$susy:(
        container-position: center,
        last-flow: to,
        columns: 12,
        gutters: 1/4,
        gutter-position: inside,
);
/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
}

*{
    box-sizing:border-box;
}

.container{
  @include container(1100px);
}


/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}






