.main-header{
  height: 200px;
  background: #000;
}
.logo{
  margin-top: 20px;
  @include span(2);
  img{
    max-width: 100%;
  }
}

.header-navigation{
  margin-top: 20px;
  @include span(5 last);
  li{
    float: left;
  }
  a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
}

.articles{
  h3{
    font-size: 25px;
  }
  a{
    color: #464646;
    text-decoration: none;
  }
  .views-row{
    margin: 40px 0;
  }
  p{
    line-height: 1.5;
  }
  .views-field-body{
    margin: 20px 0;
  }
  .views-field-view-node a{
    color: cornflowerblue;
    text-decoration: none;
  }
}